
  /*--------------------------------------------------------------
  # About Lists
  --------------------------------------------------------------*/
  .about-lists {
    padding: 40px;
  }
  
  .about-lists .row {
    overflow: hidden;
  }
  
  .about-lists .content-item {
    padding: 40px;
    border-left: 1px solid #d9e8f4;
    border-bottom: 1px solid #d9e8f4;
    margin: -1px;
  }
  
  .about-lists .content-item span {
    display: block;
    font-size: 24px;
    font-weight: 400;
    color: #9eccf4;
  }
  
  .about-lists .content-item h4 {
    font-size: 28px;
    font-weight: 400;
    padding: 0;
    margin: 20px 0;
  }
  
  .about-lists .content-item p {
    color: #aaaaaa;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }
  
  @media (max-width: 768px) {
    .about-lists .content-item {
      padding: 40px 0;
    }
  }
  
  
  
  
  
  

  

  