 
  a {
    color: #fff;
  }
  
  a:hover {
    color: #9eccf4;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6, .font-primary {
    font-family: "Raleway", sans-serif;
  }
  
  /*--------------------------------------------------------------
  # Back to top button
  --------------------------------------------------------------*/
  .back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    right: 15px;
    bottom: 15px;
    background: #428bca;
    color: #fff;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 24px;
    position: absolute;
    top: 8px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: #fff;
    background: #629fd3;
    transition: background 0.2s ease-in-out;
  }
  
 
  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  #team,#realtime,#portfolio,.counts{
    padding: 60px 0;
  }
  
  .section-bg {
    background-color: #f5f9fc;
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5c768d;
  }
  
  .section-title p {
    margin-bottom: 0;
  }


  
  /*--------------------------------------------------------------
  # Counts
  --------------------------------------------------------------*/
  .counts {
    padding-bottom: 30px;
  }
  
  .counts .count-box {
    box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background: #fff;
    margin-bottom: 30px;
  }
  
  .counts .count-box i {
    display: block;
    font-size: 64px;
    margin-bottom: 15px;
  }
  
  .counts .count-box span {
    font-size: 42px;
    display: block;
    font-weight: 700;
    color: #1c5c93;
  }
  
  .counts .count-box p {
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
  }
  
  
  
  /*--------------------------------------------------------------
  # Our Portfolio
  --------------------------------------------------------------*/
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 0 35px 0;
    list-style: none;
    text-align: center;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    margin: 0 15px 15px 0;
    display: inline-block;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 20px;
    color: #444;
    border-radius: 4px;
    text-transform: uppercase;
    background: #fff;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    background: #428bca;
    color: #fff;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
  }
  
  .portfolio .portfolio-wrap img {
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.3s;
    text-align: center;
    background: rgba(31, 53, 72, 0.6);
    padding-bottom: 30px;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap .portfolio-info a {
    color: #428bca;
    margin: 0 4px;
    font-size: 18px;
    line-height: 1;
    background-color: #fff;
    padding-top: 7px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 35px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info a:hover {
    background: #428bca;
    color: #fff;
  }
  
  .portfolio .portfolio-wrap:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    padding-bottom: 0;
  }
  
  .portfolio .portfolio-wrap:hover img {
    transform: scale(1.1);
  }
  
  /*--------------------------------------------------------------
  # Our Team
  --------------------------------------------------------------*/
  .team {
    background: #fff;
    padding: 60px 0 30px 0;
  }
  
  .team .member {
    text-align: center;
    margin-bottom: 80px;
    position: relative;
  }
  
  .team .member .pic {
    border-radius: 4px;
    overflow: hidden;
  }
  
  .team .member img {
    transition: all ease-in-out 0.4s;
  }
  
  .team .member:hover img {
    transform: scale(1.1);
  }
  
  .team .member .member-info {
    position: absolute;
    bottom: -48px;
    left: 20px;
    right: 20px;
    background: linear-gradient(360deg, #5c768d 0%, rgba(92, 118, 141, 0.9) 35%, rgba(140, 167, 191, 0.8) 100%);
    padding: 15px 0;
    border-radius: 4px;
  }
  
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 16px;
    color: #fff;
    position: relative;
    padding-bottom: 10px;
  }
  
  .team .member h4::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #fff;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .team .member span {
    font-style: italic;
    display: block;
    font-size: 13px;
    color: #fff;
  }
  
  .team .member .social {
    margin-top: 15px;
  }
  
  .team .member .social a {
    transition: color 0.3s;
    color: #fff;
  }
  
  .team .member .social a:hover {
    color: #9eccf4;
  }
  
  .team .member .social i {
    font-size: 16px;
    margin: 0 2px;
  }
  
  @media (max-width: 992px) {
    .team .member {
      margin-bottom: 100px;
    }
  }
  
  
  @-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  


  /* 自己编写的样式 */
/* reset重置一些样式 */
ul,
ol {
    list-style: none;
}

table {
    border: 1px solid #999;
    /* 相当于是cellspacing */
    border-spacing: 0;
    /* 1px边框 */
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #999;
}

input,
button {
    /* 去掉轮廓线 */
    outline: none;
    border: none;
}

/* 浮动 */
.leftfix {
    float: left;
}

.rightfix {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* 页面内容 */
.btn:focus,
.btn:active,
.btn.active {
    outline: 0;
}

/* 图片模块 */
.portfolio-modal a{
  color: #428bca;
}
.portfolio-modal {
    position: fixed;
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);
    width: 950px;
    height: 800px;
    padding: 0;
}

.portfolio-modal .modal-dialog {
    width: 100%;
    max-width: none;
    margin: 0;
}

.portfolio-modal .modal-content {
    padding: 0px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin: 0;
    font-size: 1em;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 2px;
    height: 40px;
    margin-left: 35px;
    background-color: #2c3e50;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 2px;
    height: 40px;
    background-color: #2c3e50;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-header {
    border-bottom: 1px solid gray;
    justify-content: center;
    padding: 10px 0;
}
.portfolio-modal .modal-header h2{
    font-weight: 600;
    font-size: 21px;
}
.portfolio-modal .modal-body{
    padding-bottom: 0;
}
.portfolio-modal .modal-body .echarts-figure {
    width: 720px;
    height: 550px;
    margin: 0 auto;
}
#Modal6 .modal-body .echarts-figure{
    margin-top: -64px;
    margin-bottom: -24px;
}
.portfolio-modal .modal-body p{
    text-align: center;
    text-indent: 2em;
}
/* 实时数据模块start */
.realtime .left-content {
    width: 62.5%;
    height: 486px;
    border: #7ea1d2 3px solid;
}

.realtime .right-content {
    width: 37.5%;
    height: 486px;
    border: #7ea1d2 3px solid;
    border-left: 0;
}

.realtime .title {
    height: 48px;
    background-color: #4871ae;
    color: #fff;
    padding: 0 25px;
    line-height: 48px;
}

.realtime .title span {
    height: 48px;
    font-size: 20px;
}

.realtime .filter-list {
    position: relative;
    left: 20px;
}

.realtime .filter-list li {
    margin-top: 12px;
    float: left;
    cursor: pointer;
    font-size: 15px;
    height: 24px;
    line-height: 24px;
    color: #fff;
}

.realtime .filter-list li a {
    padding: 0 20px;
    border-right: 1px solid #fff;
}

.realtime .filter-list li:last-child a {
    /* padding-right: 0; */
    border-right: 0;
}

.realtime .title .date {
    font-size: 12px;
}

.realtime .top-content {
    width: 100%;
    height: 140px;
    margin: 0;
    padding: 0 20px;
    padding-top: 7px;
}

.realtime .top-content li {
    width: 370px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
}

.realtime .top-content li span:last-child {
    float: right;
}

.realtime .top-content img {
    width: 30px;
    height: 30px;
}

.realtime .top-content li:nth-child(2) img {
    width: 25px;
    height: 25px;
    margin: 2.5px;
}

.realtime .top-content li:nth-child(3) img {
    width: 25px;
    height: 25px;
    margin: 2.5px;
}

.realtime .bottom-content {
    position: relative;
    left: -5px;
    top: -25px;
    width: 100%;
    height: 220px;
}

.realtime .foot-tip {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    color: #BBB;
    font-size: 12px;
    padding: 0 20px;
}

.hover-effect:hover a {
    color: skyblue;
}

.cost-table {
    width: 100%;
    height: 408px;
    border-collapse: collapse;
    position: relative;
    top: -4px;
}

.cost-table th,
.cost-table td {
    border: 1px solid #d8dade;
    text-align: center;
}

.cost-table thead {
    height: 48px;
    font-weight: 500;
    color: #909399;
}

.cost-table th {
    box-sizing: border-box;
    font-size: 14px;
    padding: 12px 0;
}

.cost-table td {
    box-sizing: border-box;
    font-size: 12px;
    height: 36px;
}

.cost-table th:first-child {
    width: 100px;
}

.cost-table th:nth-child(2) {
    width: 200px;
}

.cost-table th:nth-child(3) {
    width: 100px;
}

.cost-table th:nth-child(4) {
    width: 100px;
}

.cost-table th:nth-child(5) {
    width: 100px;
}

.cost-table th:nth-child(6) {
    width: 100px;
}
.cost-table th:nth-child(7) {
    width: 100px;
}


.cost-table tr:nth-child(even) {
    background-color: #eef2fb;
}


/* 实时数据模块end */
  